from flask import Flask, render_template, request
import requests
from moviepy.editor import *
import os

app = Flask(__name__)

@app.route('/', methods=['GET', 'POST'])
def index():
    if request.method == 'POST':
        url = request.form['url']
        try:
            # Descargar el archivo
            response = requests.get(url, stream=True)
            with open('temp.mp4', 'wb') as f:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        f.write(chunk)

            # Convertir a MP3
            video_clip = VideoFileClip("temp.mp4")
            audio_clip = video_clip.audio
            audio_clip.write_audiofile("output.mp3")

            # Eliminar el archivo temporal
            video_clip.close()
            audio_clip.close()
            os.remove("temp.mp4")

            return render_template('success.html')
        except Exception as e:
            return render_template('error.html', error_message=str(e))
    return render_template('index.html')

if __name__ == '__main__':
    app.run(debug=True)
